{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block body %}
<img src="{{ url_for('static', filename='img/mars.png') }}" alt="Картинка Марса">
<h2>Аварийный доступ</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_id.label }}<br>
        {{ form.user_id(class="form-control") }}<br>
        {% for error in form.user_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.user_password.label }}<br>
        {{ form.user_password(class="form-control", type="password") }}<br>
        {% for error in form.user_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.cap_id.label }}<br>
        {{ form.cap_id(class="form-control") }}<br>
        {% for error in form.cap_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.cap_password.label }}<br>
        {{ form.cap_password(class="form-control", type="password") }}<br>
        {% for error in form.cap_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}